{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}"/>
    <title>Bookland</title>
</head>

<body>
<div id="box">
    <header>

        <!-- Navigation Bar -->
        {#        <h1><a class="index-navigation" href="{% url 'index' %}"><span>B</span>OOKLAND </a></h1>#}
        <nav class="navbar">
            <div class="container">
                <div class="logo">
                    <a href="{% url 'index' %}">
                        <img width="50px" src="{% static 'images/book_icon.png' %}"
                             alt="book_icon">
                    </a>

                    <a class="home" href="{% url 'index' %}">
                        <i>Bookland </i>
                    </a>

                    <a href="{% url 'index' %}" style="">
                        <img width="50px" src="{% static 'images/book_icon_mirror.png' %}"
                             alt="book_icon">
                    </a>
                </div>

                <div class="nav-links">
                    <ul class="nav-group">
                        <li class="dropdown">
                            <i>Categories</i>

                            <div class="dropdown-content" style="border-radius: 3px; padding: -50px;
                                     background-color: rgb(227, 206, 206)">
                                <a class="dropdown-item" href="{% url 'author list' %}" style="
                                        border-radius: 8px; width: 250px;">Authors</a>
                                <hr class="dropdown-divider">
                                {% for item in cat_menu %}
                                    {% if item == 'Authors' %}
                                        <a href="{% url 'author list' %} " style="
                                        border-radius: 8px; width: 250px;">
                                            {{ item }}</a>
                                    {% else %}
                                        <a href="{% url 'category' item %} " style="
                                        border-radius: 8px; width: 250px;">
                                            {{ item }}</a>
                                    {% endif %}
                                {% endfor %}
                                <!-- Add more category links as needed -->
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'book add' %}">
                                <i>Add Book</i>
                            </a>
                        </li>
                        {% if not request.user.is_authenticated %}
                            <li class="nav-item">
                                <a href="{% url 'login user' %}">
                                    <i>Login</i>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="{% url 'register user' %}">
                                    <i>Register</i>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'details user' pk=request.user.pk %}">
                                    <i>Profile</i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'logout user' %}">
                                    <i>Logout</i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</div>
</body>
</html>