{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="content-wrapper" style="margin-top: 130px; ">
        <h1 class="text-index">
            Are you sure you want to delete your profile?
        </h1>
        <div class="ask-buttons">
            <a class="delete-btn" style="margin-left: 0" href="{% url 'register user' %}">Delete</a>
            <a class="goback-btn" href="{% url 'details user' pk=request.user.pk %}">Go Back</a>
        </div>
    </div>

{% endblock %}