.edit-delete {
    margin-top: 150px;
}


.edit-delete {
    display: block;
    background-image: linear-gradient(160deg, #5E5558 0%, #990a0a 100%);
    border: 1px solid rgb(156, 152, 152);
    padding: 40px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid;
    list-style-type: none;
}
.edit-delete form p {
    display: flex;
    gap: 30px;
}

.edit-delete h2 {
    text-align: center;
    margin-top: -10px;
    font-family: "Times New Roman", cursive;
}

.edit-delete label {
    display: none;
    list-style-type: none;
}

.edit-delete input, select {
    background-color: rgb(227, 206, 206);
    border: 0.1px solid black;
    border-radius: 3px;
    height: 30px;
    padding-left: 2px;
    margin-top: 10px;
    margin-right: 10px;
    list-style-type: none;
}


.edit-delete textarea {
    position: relative !important;
}

.edit-delete a {
    color: white;
}

.edit-photo select {

}

.edit-photo label {
    display: initial !important;
    margin-top: 12px;
    margin-right: 5px;
    white-space: nowrap;
}

.edit-photo textarea {
    background-color: rgb(240, 230, 230);
    border: 0.1px solid rgb(186, 184, 184);
    border-radius: 3px;
    height: 30px;
    width: 77.7%;
    margin-left: -30px;
    padding-left: 2px;
    margin-top: 10px;
}

.edit-photo input {
    padding: 3px;
}

.edit-photo p {
    display: flex;
}

.edit-btn {
    background-color: rgb(158, 117, 117);
}

.add-btn {
    background-color: rgb(158, 117, 117);
}

.buy-btn {
    background-color: rgb(158, 117, 117);
    border: 1px solid black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.buy-btn:active {
    background-color: palevioletred;
}

.edit-delete button:hover {
    box-shadow: none;
}
