.add-remove-list-btn {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.delete-btn {
    background-color: rgb(158, 117, 117);
    border: 1px solid black;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 110px;
    margin-top: 10px;
    height: 40px;
}

.delete-btn:active {
    background-color: palevioletred;
}


.goback-btn {
    background-color: rgb(158, 117, 117);
    border: 1px solid black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 10px;
    height: 40px;
}

.goback-btn:active {
    background-color: palevioletred;
}

.ask-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    align-items: center;
}

.delete-edit-btn-box {
    position: absolute;
    top: 0;
    right: 0;
}

.edit-book-profile {
    background-color: rgb(120 129 118);
    border: 1px solid black;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 0.8;
}

.delete-book-profile {
    background-color: rgb(223 8 8);
    border: 1px solid black;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 0.8;
}