.profile {
    margin: 120px;
    width: 320px;
    height: 460px;
    justify-content: center;
    margin-top: 150px;
}

.container-profile-books {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
    display: flex;
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*flex-wrap: wrap;*/

}

.profile_books_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    position: relative;
    height: 430px;
}

.profile_books_container .pagination {
    color: pink;
    font-size: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.profile_books_container .pagination .current {
    font-size: 30px;
    font-weight: bold;
    color: deeppink;
}

.profile-data {
    gap: 130px;
    justify-content: center;
    display: block;
    background-image: linear-gradient(160deg, #5E5558 0%, #990a0a 100%);
    border: 1px solid black;
    padding: 40px;
    margin-bottom: 15px;
    border-radius: 3px;
}

/*.profile-data div,*/
/*.profile-data p {*/
/*    margin-bottom: 20px;*/
/*}*/

.profile_img img {
    width: 175px;
    height: 175px;
    margin-top: 10px;
    border-radius: 10%;
    border: 3px solid black;
    object-fit: cover;
}

.profile a {
    color: black;
}

.delete {
    display: block;
}

.no-posts-holder {
    display: flex;
    justify-content: center;
}

.no-posts {
    width: 70% !important;
    height: auto !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.personal .edit {
    display: flex;
    gap: 20px;
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 15px;
    position: relative;
}

.personal .edit p {
    width: 300px;
}


.personal .edit-img {
    width: 25px;
    margin-top: 8px;
}

.personal .bin-img {
    width: 25px;
    margin-left: -10px;
    margin-top: 8px;
}

.personal .data {
    display: flex;
    margin-bottom: 10px;
    align-items: baseline;
}

.personal .data span {
    margin-right: 5px;
    font-size: 20px;
}

.personal .data p {
    margin-right: 15px;
    margin-top: 5px;
}

.names {
    margin-bottom: 10px;
}

.email {
    margin-bottom: 10px;
}

.gender {
    margin-bottom: 10px;
}


#catalogue {
    margin-top: 20px;
}

.books-container {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin-bottom: 20px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}


.book-card-profile {
    min-width: 200px;
    background-image: linear-gradient(160deg, #5E5558 0%, #990a0a 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 3px;
    border: 1px solid black;
    padding: 50px;
    margin-left: 50px;
    background-position: right 35% bottom 45%;
    box-sizing: border-box;
    width: 165px;
    height: 380px;
    margin-right: 20px;
    float: left;
    margin-bottom: 20px;
}

.image-wrap {
    width: 160px;
    height: 210px;
    display: inline-block;
    border-radius: 2%;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-left: -30px;
    margin-top: -30px;
}

.details-buttons {
    text-align: center;
    position: absolute;
    bottom: 6px;
}

.details-btn {
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursive: pointer;
    border-radius: 20px;
    transition: 0.5s;
    transition-property: box-shadow;
    text-align: center;
}