{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <style>
        body {
            background-image: url('static/images/2964941.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
    <div class="content-wrapper">
        <div class="searchbar">
            <form class="searchbar" method="post" action="{% url 'search' %}" role="search"
                  style="display: flex; margin-top: 130px; width: 400px; gap: 20px;">
                {% csrf_token %}
                <input type="search" placeholder="Search" aria-label="Search" name="searched">
                <button type="submit">Search</button>
            </form>
        </div>
        <div>
            {% if last_3_books %}
                <div>
                    <h1 class="text-index">Last uploaded books:</h1>
                </div>
                <div style=" margin-top: 20px; ">
                    {% for book in last_3_books %}
                        <div class="catalogue-book-card">
                            <div class="book_img">
                                <a href="{% url 'book details' book_pk=book.pk %}">
                                <img src="{{ book.book_photo.url }}"
                                     alt="{{ book.title }}"></a>
                            </div>
                            <div class="card-text">
                                <div>
                                    <a href="{% url 'book details' book_pk=book.pk %}" style="height: 50px;">{{ book.title|truncatechars:40 }}</a>
                                </div>
                                <div>
                                    <a href="{% url 'author books' author_name=book.author %}" style="color: #cb6b6b" >{{ book.author|truncatechars:20 }}</a>
                                </div>
                                <div>
                                    <h1>{{ book.publisher|truncatechars:20 }}</h1>
                                </div>
                                <div>
                                    <h2>€ {{ book.price|floatformat:'2g' }}</h2>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}